<tr>
  <td><%= question.id %></td>
  <td><%= link_to question.content, question %></td>
  <td>
      <%= link_to t("edit"), question, class: "btn btn-info" %>
      <%= link_to t("delete"), question, method: :delete, data: { confirm: t("are_you_sure"), remote: true}, class: "btn btn-danger" %>
  </td>
</tr>
